:root {
    --theme-color-nav: rgb(211, 15, 15);
    --theme-color-keys: rgb(191, 191, 191);
    --theme-color-text: rgb(0, 0, 0);
    --theme-color-burger: rgb(64, 64, 64);
}

.navbar {
    background: var(--theme-color-nav);
    height: auto;
}

.navbar .btn {
    background: var(--theme-color-nav);
}

.navbar .burger-line {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color-burger);
    margin: 0.25em;
    border-radius: 0.2em;
}

.burger {
    margin-left: 1em;
}

.navbar div {
    background-color: var(--theme-color-nav);
    color: var(--theme-color-text);
}

.navbar input {
    color: var(--theme-color-text);
}

.navbar label {
    color: var(--theme-color-text);
}

.dropdown {
    margin-left: 1vh;
    color: black;
}

.popup {
    color: black;
}
